<li>
	<% unless user.avatar.blank? %>
  	<%= image_tag user.avatar.variant(resize_to_limit: [70, 70]) %>
	<% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>