
<div class="col-md-12 all">
<header>
	<!--authorized users only-->
	<br>
	<%= link_to 'Articles', {controller: 'articles'}, class: "btn btn-default article" %>	
	<!--to change controllers-->
	<%= link_to 'Log in', '#', class: "btn btn-default block" %>	
	<%= link_to 'Sign up', '#', class: "btn btn-default block" %>

</header>
<br>
<br>
<h1 class ="welcome">Welcome to the Food blog!</h1>

<img alt="Food" src="/assets/welcome_food.jpg"/>	
</div>
